<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/vanilla-semantic-ui@0.0.1/dist/vanilla-semantic.min.css">
  <title>AT WebRTC Phone - ERROR</title>
  <style>
    * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    table.ui.table {
      display: none;
      font-size: 30px;
    }

    table.ui.table td {
      cursor: pointer;
    }

    table.ui.table td:hover {
      background-color: rgb(233, 233, 233);
    }
  </style>

</head>

<body>
  <div id='loader' class="ui dimmer">
    <div class="ui loader"></div>
  </div>
  <div class="ui center aligned stackable grid">
    <div class="row">
      <div class="column" style="padding: 3em 0 !important; ">

        <span id="output-color" class="ui tiny red circular label"></span>&nbsp;<span class="ui large header"
          id="output-lbl">Error page</span>
      </div>
    </div>
   
  </div>
</body>
